// Setup
@import "setup/variables.scss";
@import "setup/functions.scss";
@import "setup/mixins.scss";
@import "setup/typography.scss";

// Basics
@import "basics/helpers.scss";
@import "basics/layout.scss";
@import "basics/base.scss";
@import "basics/links.scss";
@import "basics/buttons.scss";

// Components
@import "components/column.scss";
@import "components/specialities.scss";
@import "components/navbar.scss";

::-webkit-scrollbar {
    width: 3px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 120px;
    height: 3px;
    width: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $clr3;
    border-radius: 2px;
}
::-webkit-scrollbar-button {
    height: 0px;
    width: 0;
}

.App{
    overflow: hidden;
}

